@model IEnumerable<LynsCosmetics_Connection.Table_GioHang>
@{
    ViewBag.Title = "_MainLayout";
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lyn's Cosmetic || HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Assets/Admin/img/logo/e40739ae-e933-46af-b092-3730e13a283a_200x200.png">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/Assets/User/css/font-awesome.min.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="~/Assets/User/css/animate.css">
    <!-- 7-stroke fonts css -->
    <link rel="stylesheet" href="~/Assets/User/css/pe-icon-7-stroke.min.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/Assets/User/css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="~/Assets/User/css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="~/Assets/User/css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="~/Assets/User/css/meanmenu.min.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/Assets/User/css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Assets/User/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="~/Assets/User/css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Assets/User/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Assets/User/css/responsive.css">

    <!-- Modernizer js -->
    <script src="~/Assets/User/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body class="template-color-1">
   
    <!-- Main Wrapper Start Here -->
    <div class="wrapper">

        <!-- Main Header Area Start Here -->
        <!-- Main Header Area Three Start Here -->
        @*do du lieu theo kieu html.partial sau do chuyen ve mvchtmlString*@
        @{
            var headerPartial = Html.Partial("_Header");
            headerPartial = new MvcHtmlString(headerPartial.ToString());
        }
        @headerPartial

        <!-- Header Middle Start Here -->
        <div class="header-middle stick header-sticky">
            <div class="header-middle_nav position-relative">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo Start -->
                        <div class="col-xl-3 col-lg-2 col-6">
                            <div class="logo">
                                <a href="#">
                                    <h3>Lyn's Cosmetics</h3>
                                </a>
                            </div>
                        </div>
                        <!-- Logo End -->
                        <!-- Menu Area Start Here -->
                        <div class="col-xl-7 col-lg-8 d-none d-lg-block position-static">
                            <nav>
                                <ul class="header-bottom-list d-flex justify-content-start">
                                    <li>
                                        @Html.ActionLink("Home", "Index", "Home")

                                    </li>
                                    @Html.Partial("_ThuongHieu", TTTN_OnlineShop.Models.BUS.ThuongHieuBUS.Danhsach())
                                    @Html.Partial("_DanhMuc", TTTN_OnlineShop.Models.BUS.DanhMucBUS.Danhsach())
                                    <li>
                                        <a class="drop-icon" href="#">shop</a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li>
                                                @Html.ActionLink("Products", "Index", "Shop")
                                            </li>
                                            <li>
                                                <a href="cart.html">cart</a>
                                            </li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li>
                                        <a class="drop-icon" href="blog.html">blog</a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown blog-dropdown">
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li>
                                        <a class="drop-icon" href="#">pages</a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown">
                                            <li>
                                                <a href="contact.html">contact us</a>
                                            </li>
                                            <li>
                                                <a href="about.html">about us</a>
                                            </li>
                                            <li>
                                                <a href="register.html">register</a>
                                            </li>
                                            <li>
                                                <a href="login.html">Login</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404</a>
                                            </li>
                                            <li>
                                                <a href="forgot-password.html">forgot password</a>
                                            </li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li>
                                        <a href="#">My Orders</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Menu Area End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-xl-2 col-lg-2 col-6">
                            <div class="cart-box">
                                <ul>
                                    <!-- Search Box Start Here -->
                                    <li>
                                        <a href="#">
                                            <span class="pe-7s-search"></span>
                                        </a>
                                        <div class="categorie-search-box ht-dropdown">
                                            <form action="#">
                                                <input type="text" name="search" placeholder="Search our catalog">
                                                <button>
                                                    <span class="pe-7s-search"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                    <!-- Categorie Search Box End Here -->
                                    <li>
                                        <a href="#">
                                            <span class="pe-7s-shopbag"></span>
                                            <span class="total-pro"></span>
                                        </a>@Html.ActionLink("Cart", "Index", "GioHang")
                                        <!--<ul class="ht-dropdown cart-box-width">
                                            <li>-->
                                                <!-- Cart Box Start -->
                                                <!--foreach (var item in Model)
                                                {
                                                    <div class="single-cart-box">
                                                        <div class="cart-img">
                                                            <a href="#">
                                                                <img src="~/Assets/User/img/products/cosmetic/item.HinhMinhHoa" alt="cart-image">
                                                            </a>
                                                            <span class="pro-quantity">x item.SoLuongMua</span>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h6>
                                                                <a href="cart.html">item.TenSanPham </a>
                                                            </h6>
                                                            <span class="cart-price">item.GiaBan</span>
                                                        </div>
                                                        <a class="del-icone" href="#">
                                                            <i class="ion-close"></i>
                                                        </a>
                                                    </div>
                                                }-->

                                                <!-- Cart Box End -->
                                                <!-- Cart Footer Inner Start -->
                                                <!--<div class="cart-footer">
                                                    <ul class="price-content">
                                                        <li>
                                                            Subtotal
                                                            <span>$57.95</span>
                                                        </li>
                                                        <li>
                                                            Shipping
                                                            <span>$7.00</span>
                                                        </li>
                                                        <li>
                                                            Taxes
                                                            <span>$0.00</span>
                                                        </li>
                                                        <li>
                                                            Total
                                                            <span>$64.95</span>
                                                        </li>
                                                    </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>-->
                                                <!-- Cart Footer Inner End -->
                                            <!--</li>
                                        </ul>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->

                </div>
                <!-- Container End -->
            </div>
        </div>
        <!-- Header Middle End Here -->
        <!-- Main Header Area Three End Here -->
        <!-- Main Header Area End Here -->


        @RenderBody()
        <br /><br />
        <!-- Footer Area Start Here -->
        @*do du lieu theo kieu render partial*@
        @{Html.RenderPartial("_Footer");}
        @RenderSection("scripts", required: false)
        <!-- Footer Area End Here -->

    </div>
    <!-- Main Wrapper End Here -->
    <!-- jquery 3.3.1 -->
    <script src="~/Assets/User/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Assets/User/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="~/Assets/User/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Assets/User/js/jquery.scrollUp.js"></script>
    <!-- Fancybox js -->
    <script src="~/Assets/User/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="~/Assets/User/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="~/Assets/User/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Assets/User/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="~/Assets/User/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Assets/User/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="~/Assets/User/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="~/Assets/User/js/main.js"></script>
    <script src="~/Assets/Admin/ckeditor/ckeditor.js"></script>
</body>


<!-- Mirrored from demo.hasthemes.com/makali-preview/makali/index-cosmetic.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Feb 2021 13:51:24 GMT -->
</html>