@using Microsoft.AspNet.Identity;
@{ ViewBag.Title = "_MainLayoutAdmin"; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Assets/Admin/img/logo/e40739ae-e933-46af-b092-3730e13a283a_200x200.png" rel="icon">
    <title>Admin || LynsCosmetic</title>
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/Admin/css/ruang-admin.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/ruang-admin.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","MainAdmin")">
                <div class="sidebar-brand-icon">
                    <img src="~/Assets/Admin/img/logo/e40739ae-e933-46af-b092-3730e13a283a_200x200.png">
                </div>
                <div class="sidebar-brand-text mx-3">Lyn's Cosmetic</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","MainAdmin")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin Homepage</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","DanhMucAdmin")">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý danh mục</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","ThuongHieuAdmin")">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý thương hiệu</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","SanPhamAdmin")">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","DonHangAdmin")">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","TinTucAdmin")">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý blog</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-palette"></i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
                       aria-controls="collapseForm">
                        <i class="fab fa-fw fa-wpforms"></i>
                        <span>Thống kê</span>
                    </a>
                    <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="form_basics.html">Sản phẩm bán chạy</a>
                            <a class="collapse-item" href="form_advanceds.html">Doanh thu</a>
                        </div>
                    </div>
                </li>*@

            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="ml-2 d-none d-lg-inline text-white small">Hello @User.Identity.Name</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                @*Noi dung*@
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> - Developed by
                            <b><a href="https://www.facebook.com/tuhien1811/" target="_blank">Le Tu Hien</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="~/Assets/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Assets/Admin/js/ruang-admin.min.js"></script>
    <script src="~/Assets/Admin/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Assets/Admin/js/demo/chart-area-demo.js"></script>
</body>

</html>
