@model LynsCosmetics_Connection.Table_TinTuc
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","TinTuc")">blog</a></li>
                    <li class="breadcrumb-item active">Blog Details</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Blog Details Area Start -->
        <div class="blog-details-area white-bg ptb-90">
            <div class="container">
                <div class="row">
                    <!-- Blog Details Start -->
                    <div class="col-xl-9 col-lg-8">
                        <div class="blog-details mb-all-40">
                            <div class="blog-hero-img mb-40">
                                <img class="full-img" src="~/Assets/User/img/tintuc/@Model.AnhTinTuc" alt="blog-details">
                                <div class="entry-meta">
                                    <div class="date">
                                        <p>@Model.NgayDang.Day</p>
                                        <span>@Model.NgayDang.AddMonths(0).ToString("MMM")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-upper-portion">
                                <h3 class="blog-dtl-header portfolio-header">@Model.TieuDe</h3>
                                <ul class="meta-box meta-blog d-flex">
                                    <li class="meta-date">
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>@Model.NgayDang.ToLongDateString()
                                        </span>
                                    </li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>By <a href="#"> Lyn's Cosmetics</a></li>
                                </ul>
                                <p class="mb-20">
                                    @Html.Raw(Model.NoiDung)
                                </p>

                            </div>
                            <ul class="meta-box meta-blog d-flex">
                            </ul>

                            <br />
                            <br />


                            <!-- Blog Deatils Contact Start -->
                            <div class="blog-detail-contact">
                                <h3 class="mb-45 sidebar-header contact-header">Leave a Reply</h3>
                                <div class="submit-review">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                    <form class="row" action="~/BinhLuan/Create">
                                        <input type="hidden" name="MaTinTuc" value="@Model.MaTinTuc" />
                                        <div class="form-group col-sm-12">
                                            <textarea class="form-control" placeholder="Message here...." name="NoiDung"></textarea>
                                        </div>
                                        <div class="col-sm-6">
                                            <input value="Send now" class="login-btn" type="submit">
                                        </div>
                                    </form>
                                    }
                                    else
                                    {
                                        <p>Vui lòng đăng nhập để bình luận</p>
                                    }
                                </div>
                            </div>
                            <!-- Blog Deatils Contact End -->
                            @{ int page = ViewBag.page;
                               int pagesize = ViewBag.pagesize; }
                            @Html.Partial("_BinhLuan", TTTN_OnlineShop.Models.BUS.BinhLuanBUS.LoadBinhLuan(Model.MaTinTuc,page, pagesize))
                        </div>
                    </div>
                    <!-- Blog Details End -->
                    @Html.Partial("_RecentBlog", TTTN_OnlineShop.Models.BUS.TinTucBUS.RecentBlog(Model.MaTinTuc))
                </div>
            </div>
        </div>
        <!-- Blog Details Area End -->

