@model PagedList.IPagedList<LynsCosmetics_Connection.Table_SanPham>
@using PagedList.Mvc
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item"> @Html.ActionLink("Home", "Index", "Home")</li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Shop Page Start -->
    <div class="main-shop-page ptb-90">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3 order-2 order-lg-1 mt-all-40">
                    <div class="sidebar shop-sidebar">
                        <!-- Price Filter Options Start -->
                        <div class="search-filter mb-30">
                            <h3 class="sidebar-title">filter by price</h3>
                            <form action="#" class="slider-sidebar">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount-range" readonly>
                            </form>
                        </div>
                        <!-- Price Filter Options End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-30">
                            <h3 class="sidebar-title">categories</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="camera" type="checkbox">
                                    <label class="form-check-label" for="camera">Cameras (8)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="GamePad" type="checkbox">
                                    <label class="form-check-label" for="GamePad">GamePad (8)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Digital" type="checkbox">
                                    <label class="form-check-label" for="Digital">Digital Cameras (8)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                    <label class="form-check-label" for="Virtual"> Virtual Reality (8) </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Product Size Start -->
                        <div class="size mb-30">
                            <h3 class="sidebar-title">size</h3>
                            <ul class="size-list sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="" id="small" type="checkbox">
                                    <label class="form-check-label" for="small">S (6)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="" id="medium" type="checkbox">
                                    <label class="form-check-label" for="medium">M (9)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="" id="large" type="checkbox">
                                    <label class="form-check-label" for="large">L (8)</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Product Size End -->
                        <!-- Product Color Start -->
                        <div class="color mb-30">
                            <h3 class="sidebar-title">color</h3>
                            <ul class="color-option sidbar-style">
                                <li>
                                    <span class="white"></span>
                                    <a href="#">white (4)</a>
                                </li>
                                <li>
                                    <span class="orange"></span>
                                    <a href="#">Orange (2)</a>
                                </li>
                                <li>
                                    <span class="blue"></span>
                                    <a href="#">Blue (6)</a>
                                </li>
                                <li>
                                    <span class="yellow"></span>
                                    <a href="#">Yellow (8)</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Product Color End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-30">
                            <h3 class="sidebar-title">Components</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">cotton (4)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">polyester (4)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">Viscose (5)</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-30">
                            <h3 class="sidebar-title">Styles</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">casual (5)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">dressy (2)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">girly (8)</label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie">
                            <h3 class="sidebar-title">Properties</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">colorful dress (2)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">maxi dress (2)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">midi dress (2)</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">short dress (4) </label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" type="checkbox">
                                    <label class="form-check-label">short sleve (3) </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                    </div>
                    <!-- Single Banner Start -->
                    <div class="sidebar-banner mt-30">
                        <a href="#"><img class="ful" src="~/Assets/User/img/banner/cosmetic/banner-design.jpg" alt="slider-banner"></a>
                    </div>
                </div>
                <!-- Sidebar Shopping Option End -->
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <!-- Grid & List View Start -->
                    <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                        <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                            <ul class="nav tabs-area d-flex align-items-center">
                                <li>
                                    <a class="active" data-toggle="tab" href="#grid-view">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                                <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                            </ul>
                            <span class="show-items">There are @Model.Count products.</span>
                        </div>
                        
                    </div>
                    <!-- Grid & List View End -->
                    <div class="shop-area mb-all-40">
                        <!-- Grid & List Main Area End -->
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade show active">
                                <div class="row border-hover-effect ">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                            <!-- Single Product Start Here -->
                                            <div class="single-makal-product">
                                                <div class="pro-img">
                                                    <a href="@Url.Action("Details",new {id = item.MaSanPham})">
                                                        <img src="~/Assets/User/img/products/cosmetic/@item.HinhMinhHoa" alt="product-img">
                                                    </a>
                                                    <div class="quick-view-pro">
                                                        <a data-toggle="modal" data-target="#product-window" class="quick-view" href="#"></a>
                                                    </div>
                                                </div>
                                                <div class="pro-content">
                                                    <h4 class="pro-title">
                                                        <a href="@Url.Action("Details",new {id = item.MaSanPham})">@item.TenSanPham</a>
                                                    </h4>
                                                    <p>
                                                        <span class="price">@item.GiaBan.ToString("#,###,00") VNĐ</span>
                                                    </p>
                                                    <div class="pro-actions">
                                                        <div class="actions-primary">
                                                            @if (User.Identity.IsAuthenticated)
                                                            {
                                                                using (Html.BeginForm("Them", "GioHang", FormMethod.Post))
                                                                {
                                                                    <input type="hidden" name="tenSanPham" value="@item.TenSanPham" />
                                                                    <input type="hidden" name="maSanPham" value="@item.MaSanPham" />
                                                                    <input type="hidden" name="hinhMinhHoa" value="@item.HinhMinhHoa" />
                                                                    <input type="hidden" name="giaBan" value="@item.GiaBan" />
                                                                    <input type="hidden" name="soLuongMua" value="1" />
                                                                    @*<a href="@Url.Action("Index", "GioHang")" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart">Add To Cart</a>*@
                                                                    <input type="submit" class="add-to-cart" data-toggle="tooltip" data-original-title="Add to Cart" value="Add to cart" />
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span> Login to Add to Cart</span>
                                                            }
                                                        </div>
                                                        <div class="actions-secondary">
                                                            <div class="rating">
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Product End Here -->
                                        </div>
                                    }


                                </div>
                                <!-- Row End -->
                            </div>
                            <!-- #grid view End -->

                          
                        </div>
                        <!-- Grid & List Main Area End -->
                    </div>
                    <!-- Shop Breadcrumb Area Start -->
                    <div class="shop-breadcrumb-area border-default mt-30">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <span class="show-items">Showing @Model.Count items of results </span>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-7">
                                <ul class="pfolio-breadcrumb-list text-center">
                                   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Breadcrumb Area End -->
                </div>
                <!-- product Categorie List End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Shop Page End -->
